.navbar .nav-link
{
  color: #000000;
  border-radius: 8px;
  font-family: 'Poppins';
  margin-left: 20px;
}

.navbar .nav-link:hover {
  color: #ffffff;
  background: #000000;
  border-radius: 8px;
  font-family: 'Poppins';
}

#header
{
  position: absolute;
  width: 100vw;
  height: 30px;
  left: 0px;
  top: 65px;
  background: #000000;
}

#footer
{
  position: absolute;
  width: 100vw;
  height: 100px;
  left: 0px;
  bottom: 0px;
  background: #373737;
}

.box
{
    position: absolute;
    height: 600px;
    width: 600px;
    background: #ffffff;

    border: 0.5px solid #878787;
    border-radius: 10px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.form_setting
{
    background: #ffffff;
    border-radius: 10px;

}
.form_label
{
    background: #ffffff;
    margin-bottom: 8px;
    font-family: sans-serif;
}

.streetbox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 50px;
    background: #ffffff;
}

.localitybox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 60px;
    background: #ffffff;
}

.citybox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 70px;
    background: #ffffff;
}

.statebox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 80px;
    background: #ffffff;
}

.pincodebox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 90px;
    background: #ffffff;
}

/* .form-control
{
    height: 60px;
} */

#streetinput
{
    height: 40px;
    border: 0.5px solid #000000;
}

#localityinput
{
    height: 40px;
    border: 0.5px solid #000000;
}

#cityinput
{
    height: 40px;
    border: 0.5px solid #000000;
}

#stateinput
{
    height: 40px;
    border: 0.5px solid #000000;
}

#pincodeinput
{
    height: 40px;
    border: 0.5px solid #000000;
}

.loginbutton
{
    position: relative;
    width: 500px;
    height: 50px;
    left: 48px;
    top: 110px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 0px #000000;
    background: #000000;
    color: #CBE500;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 70;
    font-size: 17px;
    line-height: 47px;

    cursor: pointer;
    transition: all 0.1s;
}

.loginbutton:hover
{
    width: 502px;
    height: 52px;
}

.loginbutton:active
{
    box-shadow: 0px 0px #000000;
}