*{
    background-color: #fbfbfb;
}

#header
{
    position: absolute;
    width: 100vw;
    height: 30px;
    left: 0px;
    top: 65px;
    background: #000000;
}

#footer
{
    position: absolute;
    width: 100vw;
    height: 100px;
    left: 0px;
    bottom: 0px;
    background: #373737;
}

.box
{
    position: absolute;
    height: 400px;
    width: 600px;
    background: #ffffff;

    border: 0.5px solid #878787;
    border-radius: 10px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.form_setting
{
    background: #ffffff;
    border-radius: 10px;

}
.form_label
{
    background: #ffffff;
    margin-bottom: 8px;
    font-family: 'Poppins';
}
.emailbox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 47px;
    background: #ffffff;
}

.passwordbox
{
    position: relative;
    width: 500px;
    height: 80px;
    left: 48px;
    top: 80px;
    background: #ffffff;
}

/* .form-control
{
    height: 60px;
} */

#emailinput
{
    height: 60px;
    border: 0.5px solid #000000;
}

#passwordinput
{
    height: 60px;
    border: 0.5px solid #000000;
}

.loginbutton
{
    position: relative;
    width: 500px;
    height: 50px;
    left: 48px;
    top: 135px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 0px #000000;
    background: #000000;
    color: #CBE500;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 70;
    font-size: 17px;
    line-height: 47px;

    cursor: pointer;
    transition: all 0.1s;
}

.loginbutton:hover
{
    width: 502px;
    height: 52px;
}

.loginbutton:active
{
    box-shadow: 0px 0px #000000;
}