#header
{
    position: absolute;
    width: 100vw;
    height: 30px;
    left: 0px;
    top: 65px;
    background: #000000;
}

#footer
{
    position: absolute;
    width: 100vw;
    height: 100px;
    left: 0px;
    bottom: 0px;
    background: #373737;
}

.box
{
    height: 650px;
    width: 1000px;
    /* background-color: #373737; */

    border-radius: 10px;
    position: absolute;
    top: 0px;;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.box input
{
    position: relative;
    width: 850px;
    height: 50px;
    left: 70px;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 8px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 70;
    font-size: 17px;
    line-height: 47px;

    color: #000000;

    cursor: pointer;
    transition: all 0.1s;
}

.box input:hover
{
    box-shadow: 2px 2px 6px 0px #000000;
    background: #000000;
    color: #CBE500;
}

.box input:active
{
    box-shadow: 0px 0px #000000;
    top:2px;
}

#first
{
    top: 20px;
}

#second
{
    top: 50px;
}

#third
{
    top: 80px;
}

#fourth
{
    top: 110px;
}

#fifth
{
    top: 140px;
}

#sixth
{
    top: 170px;
}

#seventh
{
    top: 200px;
}

#eighth
{
    top: 230px;
}